

 <%- include ('partials/header.ejs') %>
<% var albumid, dummyData,shu=[]; %>
<% albumData.forEach(data => { %>

            <% if(data.albumId===id) { %>
                <% albumid=data.albumId %>
               
                <% image = data.artworkPath %>

                <% title = data.title %>
               

                <% artistData.forEach(artistdata => { %>

                    <% if(artistdata._id===data.artist) { %>
                
                        <% name = artistdata.name %>
                        
                
                   <% } %>   
                
                <% }) %>

                <% songcount =  songData.filter(songdata => { %>

                    <% if(songdata.album === data.albumId){ %>

                        <% return songData %>

                   <% } %>

               <% }) %>

           <% } %>   

<% }) %>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/audio.js"></script>
    <script src="/js/rub.js"></script>
    </head>

<div class="entityInfo">

    <div class="leftSection">
        <img src=<%= `${image}` %>>
    </div>

    <div class="rightSection">

        <h2><%= `${title}` %></h2>
        <p><%= `${name}` %></p>
        <p><%= `${songcount.length}` %> songs</p>
    </div>

</div>
<%- include ('partials/footer2.ejs') %> 
<div class="trackListContainer">

    <ul class="trackList">

            <% dummyData = songData.filter(songdata => { %>

                <% return (songdata.album === albumid) %>

                <% }) %>

            <% i=1 %>
            <% r=0 %>
            <% songData.filter(songdata => { %>

                <% if(songdata.album === albumid){ %>
                    <li class="trackListRow">
                            <div class="trackCount" >
                                 <% shu = (JSON.stringify(songdata))%>
                             <img src="/icons/play-white.png" id="img1" onclick="AudioSong(<%=(r)%>)">
                             <img src="/icons/pause-256.png" id="img2">
                             <span class="trackNumber"><%= i %></span>
                            </div>
                            <div class="trackInfo">
                                <span class="trackName1">
                                    <%= songdata.title %>
                                    
                                </span>

                                <span class="artistName1">

                                        <% artistData.forEach(artistdata => { %>

                                            <% if(artistdata._id===songdata.artist) { %>
                                        
                                                <%= artistdata.name %>
                                        
                                           <% } %>   
                                        
                                        <% }) %>

                                </span>

                            </div>

                            <div class="trackDuration">

                                    <span class="duration">
                                            
                                        <%= songdata.duration %>
                                            
                                    </span>

                            </div>
             
                        </li>
                        <% r++ %>
                        <% i++ %>

               <% } %>

           <% }) %>

           <script>
            tempPlaylist = <%- JSON.stringify(dummyData) %>
          
            var songdata = tempPlaylist[1]

           </script>

    </ul>

</div>